 <div class="navbar navbar-expand-sm navbar-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= cl_image_tag("logo-carbnb_oqqbjq", :width=>60, :height=>60, :crop=>"scale") %>
  <% end %>
</div>
